/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * ----------------------------------------------------------------
*/

* {
    font-family: 'JetBrainsMono Nerd Font Propo' ;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0px;
}

window#waybar {
    background-color: #2e3440;
    color: #d8dee9;
    transition-property: background-color;
    min-height: 0;
    border: 2px solid #81a1c1;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    background-color: #2e3440;
    box-shadow: inset 0 -3px transparent;
    color: #d8dee9;
    border-radius: 0;
}

#workspaces button {
    border: 2px solid #81a1c1;
    border-radius: 0px;
    padding: 0 10px;
    margin: 5 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}


#workspaces button.urgent {
    background-color: #E06C75;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #d8dee9;
}

#power-profiles-daemon,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-updates
{
    border: 2px solid #81a1c1;
    background-color: #2e3440;
    padding: 0 15px;
    color: #d8dee9;
    margin: 5 5px;
}

#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/*--------power-profiles-daemon------*/
#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #bf616a;
}

#power-profiles-daemon.balanced {
    background-color: #81a1c1;
    border: 2px solid #d8dee9;
}

#power-profiles-daemon.power-saver {
    background-color: #a3be8c;
}
/*-----------------------------------*/

/*---------------clock---------------*/
#clock:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*----------------------------------*/

/*------------------battery-----------------*/
#battery:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes blink {
    to {
        background-color: #d8dee9;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*-------------------------------------------*/

/*------------------backlight--------------*/
#backlight:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*----------------------------------------*/

/*------------------network-----------------*/
#network.disconnected {
    background-color: #1C2125;
}

#network:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*-----------------------------------------*/

/*----------------pulseaudio----------------*/
#pulseaudio.muted {
    color: #bf616a;
}

#pulseaudio:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*-----------------------------------------*/

/*----------- Custom Updates --------------*/
#custom-updates.yellow {
    background-color: #ff9a3c;
}

#custom-updates.red {
    background-color: #bf616a;
}
/*-------------------------------------------*/

/*----------- Custom Notification -----------*/
#custom-notification {
    padding: 0 10px;
}
/*-------------------------------------------*/
